@{
    ViewBag.Title = "Deposit";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>@ViewBag.TheMessage</h4>
<form method="post">
    <textarea name="depositAmount"></textarea>
    <input type="submit" value="Deposit"/>
</form>
