@{
    ViewBag.Title = "Withdraw";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<h4>@ViewBag.TheMessage</h4>
<form method="post">
    <textarea name="withdrawAmount"></textarea>
    <input type="submit" value="Withdraw" />
</form>

